body, html {
    background-color:rgb(255, 255, 255);
    margin: 0cm;
}

.dark-mode{
    background-color: rgb(0, 0, 0);
    color:  white;
  }

body hr {
border-bottom: 0pc;
border: solid;
max-width: 5%;
}

.topnav {
background-color:rgb(245, 240, 187);
text-align: center;
max-height: 10%;
}

.topnav img {
float: left;
width: 0.9cm;
margin: 0;
padding: 0;
}

.topnav a {
overflow: hidden;
background-color:rgb(245, 240, 187);
font-family: 'Nunito', sans-serif;
display: inline;
margin: 3%;
font-size: 22px;
font-weight: bolder;
color: black;
text-decoration-line: none;
}


.topnav button {
    float: right;
    width: 0.9cm;
    margin: 0%;
    padding: 0px;
    border: none;
    background-color:rgb(245, 240, 187); 
}

.topnav a:hover {
    font-family:'Courier New', Courier, monospace;
}

body h1 {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

body p {
    font-family: 'Nunito', sans-serif;
}

.About {
    position: absolute;
    display: flex;
    margin: 3%;
    justify-content: center;
    place-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.About img {
    max-width: 40%;
    padding: 1px;
    margin: 4%;
}

.About .socials {
    overflow: hidden;
}

.About span {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
}

.About h1, p {
    margin: 4%;
    margin-top: 5%;
    max-width: 50%;
}

svg {
    margin: 4%;
    overflow:visible;
    background-image: linear-gradient(to right, rgb(123, 255, 109),rgb(252, 255, 235));
    border-radius: 50%;
}

svg image {
    width: 400px;
    border-radius: 50%;
    box-shadow: 5cm black;
}

.Portfolio {
    position: relative;
    margin: 0%;
}

.Portfolio span {
font-family: 'Archivo Black', sans-serif;  text-align: center;
font-weight: bold;
font-size: 50px;
}

.Portfolio .panel{
    width: fit-content;
    display:block;
    margin:0 auto;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;  text-align: center;}


.dropdown {
      display: none;
  }

#Brendan {
    position: relative;
    margin: 3%;
    justify-content: center;
    place-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

#Brendan img {
    max-width: 40%;
    padding: 1px;
    margin: 4%;
}